<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ec327.ballon"
    android:versionCode="1"
    android:versionName="1.0" >

<!--  Edited minSdkVersion from 8 to 9 to get NativeActivity to work from Activity at "public class GameScreen extends  NativeActivity" in GameScreen.java -->
    
    <uses-sdk
        android:minSdkVersion="9" 		
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true" 
        android:hasCode="true"
        >     
        
        <activity
            android:name="com.ec327.ballon.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.ec327.ballon.MenuScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.ec327.ballon.GameScreen"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            >
            <meta-data android:name="android.app.lib_name"
                    android:value="balloon" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
 
        </activity>
        
        <activity
            android:name="com.ec327.ballon.HighScoresScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.ec327.ballon.HelpScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
